@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,600;0,700;0,900;1,100;1,200;1,400;1,500;1,700&display=swap');

* {
  padding: 0;
  scroll-behavior: smooth;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  line-height: 1.5;
}


a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.grid-hotels img,
.grid-resturants img {
  max-width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.stars {
  padding: .4em;
  justify-self: end;
}

.grid-hotels,
.grid-resturants {
  display: grid;
  width: 100%;
  padding: 10px;
  gap: 1em;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 1300px;

}

.card {
  border-color: white;
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  box-shadow: 0 0 5px hsl(0, 12%, 60%);
  gap: 1em;
  border-radius: 11px;

  border: 1px solid black;
}

.card h2 {
  font-size: 1.1rem;
  padding: 5px;
  margin: 5px;
  color: rgb(88, 87, 87);
  font-weight: 500;
}

.price,
.flex {
  display: flex;

  padding: 10px;
  justify-content: space-between;
}

.price h3 {
  color: rgb(88, 87, 87);
  font-weight: 500;
}

.gallery {
  display: grid;
  gap: 1em;

  place-content: start;
  grid-template-columns: repeat(4, 150px);
}

.content {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 2fr;
}

.content p {
  font-size: 1rem;
}

.amenties {
  grid-column: 1/-1;
  margin-left: auto;
}

.bars {
  display: flex;
  flex-wrap: wrap;
  gap: .3em;

}

.bars button {
  border: none;
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: .6em;
  font-size: .8rem;

}

.near-grid {
  padding: 1em;
  max-width: 1260px;
  margin: 0 auto;
}

.restaurants {
  display: grid;
  margin: 0 auto;
  grid-auto-flow: column;
  grid-auto-columns: 250px;
  overflow-x: scroll;
  gap: 1em;
  scroll-snap-type: x mandatory;
  padding: 1em;
}

.restaurants h3 {
  font-size: 1rem;
  white-space: nowrap;
  font-weight: 500;
}

.restaurants::-webkit-scrollbar {
  display: none;
}

.restaurants>div {
  scroll-snap-align: start;
}

.restaurants img {
  border-radius: 10px;
}

.features {
  display: grid;
  grid-template-columns: repeat(5, 200px);
  background-color: white;
  /* box-shadow: 0 0 5px rgb(35, 28, 28); */
  place-content: center;
  gap: 1em;
  padding: 1em;
}

.feature {
  padding: 1em;
  margin-top: 10px;
  background-color: white;
  display: grid;
  align-content: start;
  gap: 1em;
  box-shadow: 20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
}

.feature p {
  font-size: .8rem;
}

.feature h5 {
  font-size: 1.2rem;
  width: 100%;
  border-bottom: 2px solid;
}

.reviews-section {
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  gap: 1em;
}

.reviews {
  display: grid;
  gap: 1em;
}

.review {
  padding: 1em;
  margin-top: 10px;
  background-color: white;
  display: grid;
  align-content: start;
  gap: 1em;
  box-shadow: 20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;

}

.location {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin-left: 14.5em;
}

.tags {
  display: flex;
  align-items: center;
  gap: .4em;
  grid-column: 1/-1;
  margin-left: auto;
}

.tags button {
  background-color: white;
  padding: 5px;
  border: none;
  box-shadow: 0px 0px 100px #bebebe,
    20px 20px 60px #ffffff;
  font-weight: 600;
  font-size: .8rem;
}

.hotel-details {
  padding: 1em;
  display: grid;
  gap: 1em;
}



.resturant-detail h3 {
  margin-bottom: 1em;
  font-weight: 600;
  text-align: start;
  font-size: 1.5rem;
}

.resturant-detail {
  padding: 1em;
  max-width: 1300px;
  margin: 0 auto;
}

form input {
  padding: 6px;
  font-size: .9rem;
  width: 1005;
  border-radius: 4px;
  border: none;
}

form input:focus {
  outline: none;
}

.search-input {
  display: flex;
  align-items: center;
  padding: 5px;
  border: 1px solid;
  border-radius: 4px;
}

.resturant-detail img {
  width: 100%;
  aspect-ratio: 1/1;
}

.resturant-detail ul {
  list-style: decimal;
}

.hero-image {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.resturant-flex {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.status {
  display: flex;
  align-items: center;
}

.cuisine {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.grid-flow {
  display: grid;
  gap: .5em;
}

.status h4 {
  color: darkolivegreen;
}

.status button {
  background-color: darkslateblue;
  color: white;
  border-radius: 6px;
  padding: 4px;
  font-weight: bold;

}

.web-url {
  text-transform: lowercase;
  color: purple;
}

.web-url:hover {
  text-decoration: underline;
}

.nav-flex {
  display: flex;
  align-items: center;
}